@font-face {
  font-family: tube;
  src: url('../font/london-tube-webfont.woff');
}

body {
  font-family: tube;
}

#content {
  width: 960px;
  margin: 0 auto;
}

#lines .line {
  display: inline-block;
  width: 25%;
  cursor: pointer;
  vertical-align: top;
}

#lines .branches {
  display: none;
}

#map {
  display: block;
}

#map .lines path, #map .lines line {
  fill: none;
  stroke-width: 6.65;
}

.fade {
  opacity: 0.1;
  transition: opacity 2s;
}

.graph path {
  stroke: steelblue;
  stroke-width: 10;
  fill: none;
}

.graph line {
  stroke: black;
  stroke-width: 5;
}

.graph .x-label {
  text-anchor: end;
  font-size: 40px;
}

.graph .y-label {
  text-anchor: end;
  font-size: 40px;
}
