{% extends "base.html" %}

{% block header %}
<h1>MIND THE GAP {% include "social.html" %}</h1>
<a href="https://github.com/omarkhan/london-tube-income"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
{% endblock %}

{% block main %}
<section id="text">
  {{ markdown.index|safe }}
</section>

<section id="visualization">
  <div id="lines">
    {% spaceless %}
    {% for line in data.lines %}
    <div class="{{ line.id }} line">
      <div class="line-colour"></div><div class="line-name">{{ line.name }}</div>
      <ul class="branches">
        {% for branch in line.branches %}
        <li class="branch">{{ branch.name }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
    {% endspaceless %}
  </div>
  {% include "map.svg" %}
  <div id="tooltip">
    <div class="station-name"></div>
    <div class="station-income">£<span class="station-income-amount"></span> / week</div>
  </div>
</section>
{% endblock %}

{% block footer %}
<div id="footer-content">
  <section id="methodology">
    {{ markdown.methodology|safe }}
  </section>
</div>
{% endblock %}

{% block scripts %}
{% include "facebook.html" %}
{% include "twitter.html" %}
{% if MINIFY %}
<script src="{{ STATIC_URL }}/js/d3.min.js" charset="utf-8"></script>
{% else %}
<script src="{{ STATIC_URL }}/js/d3.js"></script>
{% endif %}
<script>
  window.DATA = {% include "data.json" %};
</script>
{% if MINIFY %}
<script src="{{ STATIC_URL }}/js/main.min.js"></script>
{% else %}
<script src="{{ STATIC_URL }}/js/main.js"></script>
{% endif %}
{% endblock %}
