<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico"> 
  <link rel="stylesheet" href="{{ STATIC_URL }}/css/style.css">

  {% block title %}
  <title>Household income by London Underground station</title>
  {% endblock %}
</head>
<body>
  <header>
    {% block header %}{% endblock %}
  </header>
  <main>
    {% block main %}{% endblock %}
  </main>
  <footer>
    {% block footer %}{% endblock %}
  </footer>
  {% block scripts %}{% endblock %}
</body>
</html>
